services:
  harmonyos-build:
    image: arcana.boo/arcana/harmonyos-build:6.0.0
    platform: linux/amd64
    volumes:
      - .:/project
    command: hvigorw assembleHap --mode module -p product=default -p buildMode=debug --no-daemon
